.chat-room{
	bottom: 50px;
	position: fixed;
    z-index: 9999;
	right: 9px;
}
.chat-row{
	display: flex;
    position: relative;
}
.chat-main {
	z-index: 100;
	width: 560px;
	display: none;
	max-height: calc(100vh - 233px);
    height: 450px;
	box-shadow: 0 2px 30px 0 var(--N150,#B5BBC5);
}

.chat-left{
	width: 30%;
	display: flex;
	flex-direction: column;
	background: #fff;
}

.chat-left-list{
	height: 360px;
	overflow-y: auto;
}

.chat-left-list::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.chat-left-list::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.chat-left-list::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.chat-left-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.chat-top{
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 12px 8px 8px;
    box-shadow: var(--N75,#E5E7E9) 0px 2px 4px 0px;
}

.chat-top h4{
	font-size: 16px;
	font-weight: 700;
}

.welcome-chat{
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.all-group{
	display: flex;
    flex-wrap: wrap;
	padding: 10px;
	width: 100%;
    border: none;
    background: transparent;
}

.all-group:active{
	background: #00bcd44a;
}

.all-group:focus{
	background: #00bcd44a;
}

.active-list{
	background: #00bcd44a;
}

.chatContent{
	text-align: left;
}

.group-img{
	margin-right: 8px;
    flex-shrink: 0;
    height: 26px;
}

.group-img img{
	width: 35px;
	border-radius: 10%;
}

.listprd{
	font-size: 12px;
    margin: 0;
    line-height: 1;
}

.chatName {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    line-height: 22px;
    width: 100%;
    color: rgba(49, 53, 59, 0.96);
    font-family: "Nunito Sans", sans-serif !important;
}

.css-dpa5md {
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    border-radius: 3px;
    padding: 0px 4px;
    margin: 0px;
    color: var(--G500,#03AC0E);
    background: var(--G200,#D6FFDE);
}


.css-r3d {
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    border-radius: 3px;
    padding: 0px 4px;
    margin: 0px;
    color: #fff;
    background: var(--G500,#d83b0b);
}

.chat-right{
	width: 70%;
    border-left: 1px solid var(--N75,#E5E7E9);
	background: #fff;
}

.chat-toggle{
	position: relative;
	width: 100px;
    height: 48px;
	margin-top: 10px;
	background-color: #30a547;
	border-radius: 20px;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	cursor: pointer;
	box-shadow: 5px 6px 40px 5px #b7c3ce;
}

.chat-header {
	width: 100%;
	background: #007bff;
	border: 1px solid #ccc;
	border-bottom: none;
	/* display: inline-block; */
	display: flex;
	flex-wrap: wrap;
}

.chat-header-img{
	border-radius: 50%;
	width: 40px;
	margin-left: 5%;
	margin-top: 12px;
	margin-bottom: 10px;
	/* float: left; */
}

.image img {
	max-width: 100%;
	border-radius: 50%;
}

.active_chat{
	width: 60%;
	margin-top: 10px;
	/* float: left; */
}

.active_chat h4{
	font-size: 20px;
	margin-left: 10px;
	color: #fff;
}

.active_chat h6{
	font-size: 10px;
	margin-top: 4px;
	margin-left: 10px;
	line-height: 2px;
	color: #fff;
}

.header-icons{
	display: flex;
	flex-wrap: wrap;
	width: 22%;
	margin-top: 12px;
	margin-right: 10px;
}

.header-icons .fa{
	color: #fff;
	cursor: pointer;
	margin: 10px;
}

.chat-page{
	padding: 0 0 0 0;
	background: #fff;
}

.msg-inbox{
	border : 1px solid #ccc;
	overflow : hidden;
	padding-bottom: 15px;
}

.chats{
	padding : 20px 15px 0 15px;
}

.msg-page{
	height: 260px;
	overflow-y: auto;
}

.msg-page::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.msg-page::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.msg-page::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.msg-page::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.received-msg{
	display: inline-block;
	padding : 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

.received-msg-inbox{
	width: 90%;
}

.received-msg-inbox p{
	background: #efefef none repeat scroll 0 0;
	border-radius: 10px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	border-radius: 10px 10px 10px 0;
	width: 100%;
}

.time{
	color: #777;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}

.sender-chats{
	overflow: hidden;
	margin: 26px 20px;
}

.sender-msg p{
	background: #007bff none repeat scroll 0 0;
	color: #fff;
	border-radius: 10px 10px 0 10px;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.msg-bottom{
	position: relative;
	height: 10%;
	background-color: #007bff;
	display: flex;
	flex-wrap: wrap;
}

.chat-group{
	margin-top: 13px;
    margin-bottom: 10px;
    outline: none !important;
    border-radius: 10px;
    width: 84% !important;
    background-color: #fff;
}

.chat_input{
	border: none !important;
	border-radius: 20px !important;
	box-sizing: border-box;
    width: 100%;
    height: 36px;
    padding: 7px 28px 0 10px;
    resize: none;
}

.chat_input:focus{
	border-color: none !important;
	box-shadow: none;
	border-radius: 20px;
}

.chat_input::-webkit-scrollbar {
  width: 5px;
}
.chat_input::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.chat_input::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.chat_input::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
	background: #555; 
}


.input-icon-append{
	position: absolute;
    right: 6px;
    top: 20px;
}

.group_text_chat{
	cursor: pointer;
	background: transparent !important;
	border: none !important;
}

.chat-group .fa{
	color: #007bff;
}

.bottom-icon{
	margin-top: 17px;
	width: 10% !important;
	margin-left: 16px;
}

.image-upload > input
{
    display: none;
}

.image-upload .fa
{
    cursor: pointer;
}

.bottom-icon .fa{
	color: #fff;
	padding: 5px;
}

.produk_info_chat{
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	background: #e9eaeb;
	padding: 10px;
	margin-bottom: 15px;
}

.chat_produk_img{
	border-radius: 50%;
    width: 40px;
}

.produk_nm_chat a{
	font-size: 12px;
    line-height: 15px;
    color: #333;
	font-weight: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.produk_chat_detail{
	margin-left: 10px;
}

.produk_hrg_chat{
	font-size: 12px;
	color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rinci_produk_chat{
	color: #555;
	font-size: 12px;
    line-height: 14px;
    transform: scale(.916);
}
